@model Auttar.Application.ViewModels.VendaViewModel
<div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-7">
        <div class="text-center">
            <h1 class="h2">Auttar - WebSocket</h1>
            <p class="lead">Operação de venda</p>
            <form asp-controller="PinPad" asp-action="Venda" method="post">    
                <div class="form-group">
                    <input class="form-control" placeholder="Operacao" name="operacao" value="@Html.Raw(Model.operacao)" />
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Valor" name="valorTransacao" value="@Html.Raw(Model.valorTransacao)"/>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Parcela(s)" name="numeroParcelas" value="@Html.Raw(Model.numeroParcelas)" />
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Transacao" name="numeroTransacao" value="@Html.Raw(Model.numeroTransacao)" />
                </div>                
                <button class="btn btn-lg btn-block btn-primary" type="submit">Enviar</button>
            </form> 
             <div class="card card-note">
                <div class="card-body">                    
                    @Model.resposta
                </div>
            </div>            
        </div>
    </div>
</div>